$color: #fff;
$color1: #121212;
$bgcolor: #d2691e;
$bg-color: #141414;

.plano-de-fundo {
  background-image: url("/assets/mulher-floresta.jpeg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  padding: 7rem;
}

.text-principal {
  letter-spacing: 0.2em;
  text-shadow: 0.2rem 0.2rem 0.2rem $color1;
}

.title {
  font-family: "Alex Brush", sans-serif;
   font-size: 12vmin;
  font-weight: 400;
}

.text-paragrafo {
  font-size: 6vw;
}
.btn-01 {
  background: transparent;
  color: $color;
  border-color: $color;

  &:hover {
    color: $color1;
    background: $color;
  }
}

.section_box {
  border: 0.3em solid $bgcolor;
  width: 15rem;
  height: 18rem;
  border-radius: 1.8rem;
  background: $bg-color;

  .text_paragrafo {
    font-size: 1.3em;
    font-family: "Poppins", sans-serif;
  }

  .text_destaque {
    font-size: 0.85em;
    font-style: italic;
  }
}

.section_box-1 {
  border: 0.3em solid $bgcolor;
  width: 15rem;
  height: 18rem;
  border-radius: 1.8rem;
  background: $bg-color;

  .text_paragrafo-1 {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
  }

  .text_destaque-1 {
    font-size: 0.85rem;
    font-style: italic;
  }

  .icon {
    width: 8rem;
  }
}

.section_box-2 {
  border: 0.3em solid $bgcolor;
  width: 15rem;
  height: 18rem;
  border-radius: 1.8rem;
  background: $bg-color;

  .text_paragrafo-2 {
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
  }

  .text_destaque-2 {
    font-size: 0.85rem;
    font-style: italic;
  }

  .icon-1 {
    width: 8rem;
  }
}

.section_box-3 {
  border: 0.3em solid $bgcolor;
  width: 15rem;
  height: 18rem;
  border-radius: 1.8rem;
  background: $bg-color;

  .text_paragrafo-3 {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
  }

  .text_destaque-3 {
    font-size: 0.85rem;
    font-style: italic;
  }

  .icon-2 {
    width: 8rem;
  }
}

.elements {
  margin-top: -5em;
}

.group_text {
  .title-h1 {
    font-size: 2.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: $bgcolor;
  }

  .btn_text {
    padding: 1em 3em;
    border-color: $bgcolor;
    color: $bgcolor;
    background: transparent;
    letter-spacing: 0.2em;

    &:hover {
      border: none;
      background: $color;
      color: $color1;
    }
  }

  .text-secundary {
    margin-top: 3rem;
  }
}

.box_01 {
  margin-top: 10rem;
}
.img_circle {
  width: 20em;
  height: 20em;
}

.img_floresta {
  width: 50vmin;
  height: 50vmin;
  object-fit: cover;
}
.img_montanha {
  border: 0.6em solid $color;
  margin-top: 2rem;
  width: 100vmin;
  height: 100vmin;
  object-fit: cover;
}

.img_montanha_gelo {
  border: 1em solid $bgcolor;
  margin-top: 2rem;
  width: 30vmin;
  height: 30vmin;
  object-fit: cover;
}
.group_img {
  margin-top: 10rem;
}

.paragrafo_text {
  font-size: 10vmin;
  font-family: "Montserrat", sans-serif;
}

.button {
  padding: 1em 3em;
  letter-spacing: 0.1em;
  background: transparent;
  color: $color;
  border-color: $color;

  &:hover {
    color: $color1;
    background: $color;
  }
}

.text_box-1 {
  background: $color;
  padding: 2rem;
  width: 20rem;
  height: 25rem;
  border-radius: 2em;

  .paragrafo_text-1 {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    color: $color1;
    line-height: 2em;
  }

  .btn-03 {
    font-family: "Poppins", sans-serif;
    padding: 1.2em 3em;
    letter-spacing: 0.1em;
    border-color: $bgcolor;
    color: $bgcolor;
    background: transparent;

    &:hover {
      background: $bg-color;
      color: $color;
      border: none;
    }
  }
}
.text-title-01 {
  margin-top: 12vmin;
  font-size: 2em;
}

.img_men{
  width: 50vmin;
  height: 50vmin;
}
