<section class="img-footer container-fluid p-5">
  <div>
    <p class="title-text fw-bold text-light text-start">{{ titleText }}</p>
    <p class="text-light text-start text-secundary">{{ titleTextSecundary }}</p>
  </div>
  <div class="mt-5 d-flex justify-content-start gap-2">
    <i><img class="logo-icone" [src]="logoFacebook" alt="logo do facebbok" /></i
    ><br />
    <i><img class="logo-icone" [src]="logoTwiter" alt="logo do twitter" /></i
    ><br />
    <i
      ><img
        class="logo-icone"
        [src]="logoInstagram"
        alt="logo do instagram" /></i
    ><br />
    <i
      ><img class="logo-icone" [src]="logoGooglePlus" alt="logo do google plus"
    /></i>
  </div>
</section>
