$color: #000;
$bgcolor: #ff4500;
$Color: #fff;
$Bgcolor: #141414;

.text-center {
  margin-top: 1.5em;
  font-size: 7vmin;
}

section {
  .img {
    border: 0.2em solid white;
    width: 20rem;
    height: 25rem;
    object-fit: cover;
  }

  .rounded-circle {
    width: 20vmin;
    height: 20vmin;
  }

  .text-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
  }

  .text-2 {
    font-family: "Poppins", sans-serif;
    line-height: 1.8em;
    font-size: 16px;
  }

  .text-3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-bottom: 0.2em solid $color;
    width: 2.7em;
    padding-bottom: 0.3em;
  }

  .img-1 {
    border: 0.2em solid white;
    width: 20rem;
    height: 25rem;
    object-fit: cover;
  }

  .img-2 {
    border: 0.2em solid white;
    width: 20rem;
    height: 25rem;
    object-fit: cover;
  }
}

.rounded-circle {
  object-fit: cover;
}
.btn-04 {
  font-size: 0.3em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1em;
  background: $bgcolor;
  color: $Color;

  &:hover {
    border: 0.1em solid;
    background: $Bgcolor;
    color: $Color;
  }
}

.boxs {
  width: 20rem;
  height: 23rem;
}

.container {
  margin-top: 7rem;
}
