<article class="d-flex flex-md-row flex-column justify-content-center align-items-center gap-2">
  <div>
<div class="text-start">
  <img class="icon-aspas" [src]="imgIcon" alt="imagem de aspas duplas" />
  <p class="text-light-emphasis text-aspa">{{ textAspa }}</p>
  <p class="text-light">{{ aspaName }}</p>
</div>

<div class="text-start">
  <img
    class="icon-aspas"
    [src]="imgIcon"
    alt="segunda imagem de aspas duplas"
  />
  <p class="text-light-emphasis text-aspa">{{ textAspa }}</p>
  <p class="text-light">{{ aspaName1 }}</p>
</div>

<div class="text-start">
  <img
    class="icon-aspas"
    [src]="imgIcon"
    alt="terceira imagem de aspas duplas"
  />
  <p class="text-light-emphasis text-aspa">{{ textAspa }}</p>
  <p class="text-light">{{ aspaName2 }}</p>
</div>
  </div>
  <div>

<div class="text-start">
  <img
    class="icon-aspas"
    [src]="imgIcon"
    alt="quarta imagem de aspas duplas"
  />
  <p class="text-light-emphasis text-aspa">{{ textAspa }}</p>
  <p class="text-light">{{ aspaName3 }}</p>
</div>

<div class="text-start">
  <img
    [src]="imgIcon"
    alt="quinta imagem de aspas duplas"
    class="icon-aspas"
  />
  <p class="text-light-emphasis text-aspa">{{ textAspa }}</p>
  <p class="text-light">{{ aspaName4 }}</p>
</div>

<div class="text-start">
  <img
    [src]="imgIcon"
    alt="quinta imagem de aspas duplas"
    class="icon-aspas"
  />
  <p class="text-light-emphasis text-aspa">{{ textAspa }}</p>
  <p class="text-light">{{ aspaName5 }}</p>
</div>
  </div>
</article>
<app-imgfooter></app-imgfooter>

